@import '../scss/';

.mobile-menu-container {
  button.hamburger-container {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 32px;
    background: transparent;

    svg.hamburger {
      color: $primary-color;
      font-size: 1.5rem;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0px;
    left: 120px;
    right: 0px;
    height: 100%;
    background: $highly-light-grey-bg;
    border-left: 1px solid $light-grey-bg;
    transition: 0.3s;

    .cross-container {
      position: relative;
      height: 71px;

      button.svg-container {
        height: 65px;
        display: inline-block;
        width: auto;
        position: absolute;
        right: 0px;
        width: 70px;
        background: transparent;

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $primary-color;
          font-size: 1.8rem;
        }
      }
    }

    .menu-section {
      a {
        display: block;
        text-align: right;
        color: $primary-color;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 25px 30px;
        border-top: 1px dotted $secondary-color;

        &:last-child {
          padding-bottom: 25px;
          border-bottom: 1px dotted $secondary-color;
        }
      }
    }

    .social-links {
      text-align: right;
      padding-top: 30px;

      a {
        display: inline-block;
        padding-right: 25px;
        padding-left: 0px;
        svg {
          font-size: 2.5rem;
          color: $primary-color;
        }
      }
    }
  }

  .menu-closed {
    left: 600px;
    transition: 0.3s;
  }
}
