@import '../scss/';

// Styles for articles text - for projects & blog
article.article {
  h1 {
    color: $primary-color;
    font-size: 1.65rem;
    font-weight: 500;
    margin-bottom: 17px;
  }

  h2 {
    color: $primary-color;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 17px;
  }

  p {
    color: $grey-overlay-color;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 10px;
  }

  ul.simple-list {
    margin-bottom: 15px;
    color: $grey-overlay-color;
    font-size: 1rem;
    line-height: 1.8;
    margin-left: 15px;
    list-style: none;

    li::before {
      content: '\2713';
      color: $primary-color;
      font-weight: bold;
      font-size: 0.9rem;
      display: inline-block;
      width: 1.5em;
      margin-left: -1em;
    }
  }

  .video-demos {
    padding-bottom: 20px;
    .video-frame {
      overflow: hidden;
      position: relative;
      height: 0;
      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }

      .video-overlay-special {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        z-index: 1;
      }
    }

    p.label {
      padding-top: 8px;
      color: $grey-overlay-color;
      opacity: 0.9;
    }
  }

  .skills-container {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;

    .skill-wrapper {
      margin-right: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 50px;
      }
      p {
        font-weight: 600;
        text-align: center;
        margin-top: -4px;
        font-size: 0.9rem;
      }
    }
  }
}
