// Contains variables & Mixins for the entire website
$primary-color: #2f6ce0;
$secondary-color: #b1dffe;
$white: #ffffff;
$highly-light-grey-bg: #fafafa;
$light-grey-bg: #f1f1f1;
$black: #272c36;
$grey-overlay-color: #262933;
$light-grey: #666;

$max-page-width: 1440px;

@mixin button-hover-animation-1($bg-color) {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background: $bg-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(-101%);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: $white;
    transition: color 0.2s ease-in-out;
    &:before {
      transform: translateX(0%);
      transition: 0.2s ease-in-out;
    }
  }
}
