// Contains variables & Mixins for the entire website
$primary-color: #2f6ce0;
$secondary-color: #b1dffe;
$white: #ffffff;
$light-grey-bg: #f1f1f1;
$black: #272c36;
$grey-overlay-color: #262933;

$max-page-width: 1440px;
